

*{  margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.gallery img{
    width: 260px;
    height: 260px;
}
.hobby{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(Odron-File/bg1.jpeg);
}
.hobby h2{
    color: rgb(216, 197, 172);
    font-size: 100px;
}
.home-image{
    width: 25vw;
    animation: floatimage 4s ease-in-out infinite;
}
.desc{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color:antiquewhite;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.welcome{
    margin-top: 3%;
    font-size: 50px;
    color: antiquewhite;
}

.body{
    margin-top: 0%;
    font-size: 50px;
    color: rgb(53, 41, 17);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(Odron-File/script.jpeg);
}
.body p{
    font-weight: 700;
    font-size: 25px;
}
.body h5{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 22rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color:antiquewhite;
    letter-spacing: .1rem;
    font-weight: 900;
    transition: .5s ease;
}
.body b{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 22rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color:antiquewhite;
    letter-spacing: .1rem;
    font-weight: 900;
    transition: .5s ease;
}
.bg{
    width: 100%;
    height: 100vh;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(Odron-File/hobby.jpeg);
}


.bg h3{
text-align:center;
}
.bg h4{
text-align:center;
color: rgb(100, 74, 17);
}


.Script{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(Odron-File/body.jpg);

}
.script-body{
    margin-top: 0%;
    font-size: 50px;
    color: rgb(190, 175, 155);
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 1rem 1.5rem 1rem 0;
    transition: .5s ease;
}
.contain{
    width: 500px;
    height: 80px;
    position: absolute;
    top: 140%;
    left: 70%;
    color: bisque;
    transform: translate(-50%,-50%);
}
.contain::before{
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background: #ddc198;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}
.contain::after{
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #493413;
    position: absolute;
    right: -30px;
    bottom: -50px;
    z-index: -1;
}
.clock{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(45px);
}
.clock span{
    font-size: 30px;
    width: 100px;
    display: inline-block;
    text-align: center;
    position: relative;
}
#hrs::after{
content: 'HOURS';
}
#min::after{
content: 'MINS';
}
#sec::after{
content: 'SEC';
}   

.social-media a:hover {
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.foot{
    margin-bottom: 0%;
    font-size: smaller;
    color: bisque;
}
.head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background:var(--bg-color);
    display: flex; 
    justify-content: space-between;
    align-items: center;
    z-index: 100;  
    
}
.link{
    color:#ddc198;
}
.image img{
   width: 350px;   
   display: flex;
   border-radius: 70%;
}


.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color:antiquewhite;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover {
    box-shadow: none;
}
.logo{
    font-size: 2.5rem;
    color:#ECB159;
    font-weight: 700;
    cursor: default;
}
.icon{
    font-size:larger;
    color:503C3C;
    display: none;
}

.navbar {
    font-size: 1.5rem;
    color:#3E3232;
    margin-left: 4rem;
    font-weight: 700;
}
.navbar :hover,
.navbar .active{
    color: var(--text-color);
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: #5f451d;
    color: rgb(156, 146, 89);
}

.footer-text {
    font-size: 1.6rem;
}

@keyframes floatimage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
    
}



#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3%;
    }
    .services {
        padding: 7rem;
    }
    .portfolio {
        padding-bottom: 7rem;
    }
    .contact {
        min-height: auto;
    }
    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .home {
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-content {
        order: 2;
    }
    .home-img img {
        width: 90vw;
        margin-top: 4rem;
    }
    .about {
        flex-direction: column;
    }
    .about-img img {
        width: 90vw;
        margin-top: 4rem;
    }
    .services h2 {
        margin-bottom: 3rem;
    }
    .portfolio h2 {
        margin-bottom: 3rem;
    }
    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
    .home-img img {
        width: 80vw;
        margin-top: 8rem;
    }
    .about-img img {
        width: 100vw;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .contact form .input-box input {
        width: 100%;
    }
}

:root {
    --bg-color: #000000;
    --snd-bg-color: #262B40;
    --text-color: #fff;
    --main-color: #59B2F4;
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}